body {
  background-color: black;
}
h1 {
    color: whitesmoke;
    text-align: center;
    padding: 14px 34px;
    width: 30%;
    margin: auto;
    font-size: 100px;
  }
  h4 {
text-align: center;
    color: whitesmoke;
    padding: 14px 34px;
    width: 30%;
    margin: auto auto auto auto;
  }
  img {
display: block;
margin-left: auto;
margin-right: auto;
width: 35%;
  }
  .button {
  display: flex;
   text-align: center;
   margin: auto;
    border-radius: 25px;
    padding: 8px 30px;
     cursor: pointer;
     height: 8%;
  }
  
  .button2 {
    display: flex;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    padding: 8px 30px;
    cursor: pointer;
    height: 8%;
  }

  p {
    color: whitesmoke;
text-align: center;
font-size: 20px;
  }

  .navbar {
    background-color: lightgrey;
  width: 98%;
  padding: 1%;
  border-radius: 10px;
  border-style: line;
  text-align: center;
  list-style-type: none;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20%;
  }
  li {
    float: left;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  li a:hover {
    background-color: #111;
  }

h2 {
  text-align: center;
    color: whitesmoke;
    padding: 14px 34px;
    width: 30%;
    margin: auto auto auto auto;
    font-size: 35px;
}
